<!DOCTYPE html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<style>
		th {
			background-color: #006600;
			color: white;
			text-align:center;
			}
			tr:nth-child(even) {background-color: #f2f2f2}
	</style>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">
					Socios de la Cooperativa
				</a>
				
				<a href="{% url 'aplicacionSociosCooperativa.views.socio_list'%}"><button type="button" class="btn btn-default navbar-btn">Socios</button></a>
				<a href="{% url 'aplicacionSociosCooperativa.views.importe_list'%}"><button type="button" class="btn btn-default navbar-btn">Importes</button></a>
				<a href="{% url 'aplicacionSociosCooperativa.views.pago_list'%}"><button type="button" class="btn btn-default navbar-btn">Pago</button></a>
				<!--<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Filtrar">
					</div>
					<button type="submit" class="btn btn-default">Filtrar</button>
				</form>-->
			</div>
		</div>
	</nav>
	<h1 style="display:inline">Importes</h1>
	<a href="{% url 'aplicacionSociosCooperativa.views.importeNuevo' %}"><button type="button" class="btn btn-default" style="margin:5px">Agregar Importe</button></a>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
				<th>Costo</th>
				<th>Eliminar</th>
				<th>Editar</th>
			</tr>
		</thead>
		<tbody>
		<!--	<tr>
				<td>01/08/2016</td>
				<td>01/09/2016</td>
				<td>$50</td>
				<td><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></td>
				<td><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button></td>
			</tr>-->
			
			
			{% for importe in importes%}
			<tr>
				<td>{{importe.fechaInicio}}</td>
				<td>{{importe.fechaFin}}</td>
				<td>{{importe.coste}}</td>
				<td><a href="{% url 'importeEliminar' pk=importe.pk %}"><button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button></a></td>
				<td><a href="{% url 'importeEditar' pk=importe.pk %}"><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
			</tr>
			{% endfor %}
			
		</tbody>
	</table>
</body>
